<h1>Rock 'n Rails!</h1>
<% @records.each do |record| %>
  <p><strong>Title: </strong><%= record.title%></p>
  <p><strong>Artist: </strong><%= record.artist%></p>
  <img src="<%= record.cover_art%>"><br />
  <%= link_to "Show Page", record_path(record)%>
  <a href='/records/<%= record.id %>' data-method="delete">Destroy</a>
  <% end %>
