<h1>Records</h1>

<img src=<%= @record.cover_art%>>
<h2>Title: <%= @record.title %></h2>
<h2>Artist: <%= @record.artist %></h2>
<p>Year: <%= @record.year %></p>
<p>Song Count: <%= @record.song_count %></p>
<%= link_to "Delete", @records, method: :delete%>
